@mixin input-wide {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  box-sizing: border-box;
}

@mixin label {
  font-weight: bold;
}

@mixin arbitrary {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

@mixin form__equired {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  font-weight: bold;
}

@mixin form__lavel {
  font-size: 14px;
  font-weight: bold;
  color: #888;
}

@mixin selled__tab--list {
  width: 33.3%;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 72px;
  font-weight: bold;
}