.categories__all-lists {
  background:  transparent;
  margin: 40px auto;
  width: 700px;
  height: 300px;
  h1 {
    color: black;
    font-weight: bold;
    font-size: 22px;
    padding: 8px 0;
  }
}