.mypage
  = render partial: "mypages/mypage-header"
  .mypage__main
    = render partial: "mypages/mypage-left"
    .input-card
      .input-card__head
        %h2.input-card__head--title クレジットカード情報入力
        = render partial: "new"