.mypage__header
  %ul.mypage__header__list
    %li.mypage__header__list--light
      = link_to 'メルカリ', '#'
    = fa_icon "chevron-right", id: 'icon'
    %li.mypage__header__list--bold
      = link_to 'マイページ', '#'