.mypage__header
  %ul.mypage__header__list
    %li.mypage__header__list--light
      = link_to 'メルカリ', '#'
    = icon 'fa', 'chevron-right', class: 'icon'
    %li.mypage__header__list--bold
      = link_to 'マイページ', '#'