.mypage
  = render partial: "mypage-header"
  .mypage__main
    = render partial: "mypage-left"
    -# = render partial: "mypage-right"
    -# = render partial: "identification"
    -# = render partial: "log-out"
    -# = render partial: "credits/index"

-# = render partial: "edit"

-# %i.fa.fa-chevron-right
-# = icon 'fa', 'chevron-right'

-# %i.fa.fa-chevron-right.icon
-# = icon 'fa', 'chevron-right', class: 'icon'





