.mypage
  = render partial: "shared/index_header"
  - breadcrumb :logout
  = render "shared/gretel"
  .mypage__main
    = render partial: "mypage-left"
    .logout
      = link_to 'ログアウト', mypages_logout_path, method: :delete, class: 'logout__btn'