// アプリサイトへのリンクです
@media screen and (min-width: 768px) {
  .index-footer {
    position: relative;
    top: 5px;
    left: 0;
    height: 260px;
    background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?57233791);
    background-position: center;
    background-size: cover;
    &__app-box { 
      display: block;
      position: relative;
      background-color: transparent;
      height: 260px;
      width: 750px;
      margin: 0 auto;
      &__contents {
        background-color: transparent;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 58px; 
        left: 16px;
        width: 374px;
        height: 144px;
        h2 {
          font-size: 16px;
          height: 22px;
          margin: 0;
          color: white;
        } 
        p {
          height: 24px;
          font-size: 24px;
          margin: 10px 0 0 0;
          color: white;
          font-weight: 500;
        } 
        .index-footer__downloads { 
          display: flex;
          margin: 20px 0 0 0;
          height: 68px;
          &__mercari {
            img {
              width: 68px;
              height: 68px;
            } 
            &--download { 
              display: flex;
              margin: 0 0 0 24px; 
              li { 
                margin: 12px 15px 0 0;
                width: 133px; 
                height: 40px;
              } 
            }        
          }
        }
      } 
      &__image { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        img {
          width: 300px;
          height: 260px;
        }
      }
    }
  } 
} 

@media screen and (max-width: 768px) {
  .index-footer {
    display: none;
  }
}

// 問い合わせ一覧の通常盤です。
@media screen and (min-width: 1068px) {
  .footer__about-us {
    padding: 0 0 10px;
    background-color: #212121;
    color:white; 
    width: 100%;
    height: 100%;
    &__links {
      height: 298px;
      width: 1020px;
      margin: 0 auto;
      padding: 0;
      &__first {
        margin: 18px 0 0 0;
        padding: 0 20px 0 0;
        width: 20%;
        float: left;
        height: 241px;
        &--head {
          font-size: 16px; 
          font-weight: 100;
          height: 22px;
          width: 184px;
          color: white;
        }
        &--about-mercari {
          height: 203px;
          li {
            margin-top: 16px;        
            a {
              color: gray; 
              font-size: 12px;
              .index-footer-twitter-square {
                color: white;              
                font-size: 2.5em; 
              } 
              .index-footer-facebook-square {
                color: white;              
                font-size: 2.5em;
                margin: 0 0 0 20px;
              }
            }
          }
        }
      } 
      &__second {
        height: 280px;
        margin: 18px 0 0 0;
        padding: 0 40px 0 0;
        width: 20%;
        float: left;
        &--head {
          font-size: 16px; 
          font-weight: 100;
          height: 22px;
          width: 184px;
          color: white; 
        }
        &--help-guide {
            height: 194px;
          li {
              margin-top: 13px;
            a {
              color: gray;
              font-size: 12px;
            }
          }
        }  
      }
      &__third {
        height: 202px;
        margin: 18px 0 0 0;
        padding: 0 40px 0 0;
        width: 40%;
        float: left; 
        &--head {
          width: 100%;
          height: 22px;
          font-size: 16px;
        } 
        &--privacy {
          height: 194px;
          width: 45%;
          float: left; 
          font-size: 16px;
          padding: 0 10px 0 0;
          li {
            margin-top: 16px;
            a {
              color: gray;
              font-size: 12px;
            }
          }
        } 
        &--policy {
          height: 194px;
          width: 45%;
          float: left;
          font-size: 16px; 
          padding: 0 0 0 10px;
          li {
            margin-top: 16px;
            a {
              color: gray;
              font-size: 12px;
            }
          }
        }      
      }
      &__forth {
        height: 88px;
        width: 10%;
        margin: 18px 0 0 0;
        padding: 0;
        float: left; 
        &--head {
          font-size: 16px; 
          font-weight: 100;
          height: 22px;
          width: 184px;
          color: white; 
        }
        li {
          margin-top: 16px;
          a {
            color: gray;
            font-size: 12px;
          }
        }
      }
    }

    &__bottom {
      margin: 30px auto 20px;
      padding: 0;
      width: 1020px;
      height: 35px; 
      display: flex;    
      &--logo {
        width: 124px;
        height: 33px;
      }
      &--copyright {
        width: 100%;
        height: 14px;
        margin: 8px 0 0 0;
        text-align: center;
        small {
          font-size: 10px;
          font-family: Source Sans Pro;
      }
      }
    }
  }
}

// 小さい画面用です。
@media screen and (max-width: 1067px) {
  .footer__about-us {
    padding: 0 20px 10px 20px;
    background-color: #212121;
    color:white; 
    width: 100%;
    height: 100%;
    &__links {
      height: 298px;
      width: 700px;
      margin: 0 auto;
      padding: 0;
      &__first {
        display: block;
        margin-top: 18px;
        padding: 0 10px 0 0;
        width: 46%;
        float: left;
        height: 241px;
        &--head {
          font-size: 16px; 
          font-weight: 100;
          height: 22px;
          color: white;
        }
        &--about-mercari {
          height: 203px;
          li {
            margin-top: 16px;        
            a {
              color: gray; 
              font-size: 12px;
              .index-footer-twitter-square {
                color: white;              
                font-size: 2.5em; 
              } 
              .index-footer-facebook-square {
                color: white;              
                font-size: 2.5em;
                margin: 0 0 0 20px;
              }
            }
          }
        }
      } 
      &__second {
        height: 280px;
        margin-top: 18px;
        padding-left: 10px;
        width: 47%;
        float: left;
        &--head {
          font-size: 16px; 
          font-weight: 100;
          height: 22px;
          color: white; 
        }
        &--help-guide {
            height: 194px;
          li {
              margin-top: 13px;
            a {
              color: gray;
              font-size: 12px;
            }
          }
        }  
      }
      &__third {
        height: 202px;
        margin: 30px 0 0;
        padding: 0;
        width: 100%;
        float: left; 
        &--head {
          width: 100%;
          height: 22px;
          font-size: 16px;
        } 
        &--privacy {
          width: 46%;
          float: left;
          vertical-align: top; 
          font-size: 16px;
          padding: 0 10px 0 0;
          li {
            margin-top: 16px;
            a {
              color: gray;
              font-size: 12px;
            }
          }
        } 
        &--policy {
          width: 50%;
          float: left;
          font-size: 16px; 
          padding: 0 0 0 10px;
          li {
            margin-top: 16px;
            a {
              color: gray;
              font-size: 12px;
            }
          }
        }      
      }
      &__forth {
        height: 88px;
        width: 50%;
        margin-top: 35px;
        padding: 0;
        float: left; 
        &--head {
          font-size: 16px; 
          font-weight: 100;
          height: 22px;
          width: 184px;
          color: white; 
        }
        ul {
          display: flex;
          li {
            margin-top: 16px;
            padding: 0 30px 0 0;
            a {
              color: gray;
              font-size: 12px;
            }
          }
        }
      }
    }

    &__bottom {
      margin: 50px auto;
      padding: 0;
      width: 700px;
      height: 35px; 
      display: flex;    
      &--logo {
        display: inline-block;
        margin-right: 10px;
        width: auto;
        img {
          width: 124px;
          height: 33px;
        }
      }
      &--copyright {
        display: inline-block;
        margin: 8px;
        vertical-align: sub;
        text-align: center;
        small {
          font-size: 12px;
          font-family: Source Sans Pro;
      }
      }
    }
  }
}