/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "reset";
 @import 'mixins/mixin';
 @import 'font-awesome-sprockets';
 @import "font-awesome";
 @import 'mypages/mypage-tab';
 @import 'mypages/mypage-right';
 @import 'mypages/mypage-left';
 @import 'mypages/mypage';
 @import 'mypages/mypage-tab-list';
 @import 'mypages/mypage-edit';
 @import 'mypages/identification';
 @import 'mypages/log-out';
 @import 'modules/index_footer';
 @import 'modules/index_header';
 @import 'modules/details_footer';
 @import 'modules/details_header';
 @import 'users/new_registration';
 @import 'users/login';
 @import "users/information";
 @import 'users/complete';
 @import 'credits/credits';
 @import 'mixins/mixin';
 @import 'products/upload';
 @import 'credits/credits';

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}