-# slick画像
.slick
  .top_page__slick--first
    = image_tag "https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?2921618501"
  .top_page__slick--second
    = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2921618501" 

-# 初期のイメージ画像
-# .index-banner-image 
-#  = iamge_tag "https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?4216410007"