.new-registration-address {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #f5f5f5;
  margin: 0 auto;
  .new-registration-address-wrapper {
    width: 700px;
    margin: 0 auto;
    display: block;
    .new-registration-address__title {
      width: 668px;
      height: 33px;
      padding: 32px 16px;
      background-color: white;
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
    } 
    .new-registration-address_form {
      padding: 40px 16px;
      border-top: 1px solid #f5f5f5;
      background-color: white; 
      &__group { 
        margin: 0 auto;
        max-width: 320px;
        &--fullname {
          width: 320px; 
          .address-fullname {
            font-weight: 600;
            font-size: 14px;
            width: 50px;
          }
          .address-form-require {
            margin: 0 0 0 8px;
            padding: 2px 4px;
            background-color: red;
            color: white;
            font-size: 12px;
            border-radius: 2px;
            vertical-align: top;
          }
          .address-registration-form {
            width: 286px;
            margin: 8px 0 0; 
            height: 28px;
            padding: 10px 16px 8px 16px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 16px;
            line-height: 1.5;
            border-radius: 4px;
          }
        }
        &--kananame {
          width: 320px;
          margin-top: 40px;
          .address-kananame {
            font-weight: 600;
            font-size: 14px;
            width: 50px;
          } 
          .address-form-require {
            margin: 0 0 0 8px;
            padding: 2px 4px;
            background-color: red;
            color: white;
            font-size: 12px;
            border-radius: 2px;
            vertical-align: top;
          }
          .address-registration-form {
            width: 286px;
            margin: 8px 0 0; 
            height: 28px;
            padding: 10px 16px 8px 16px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 16px;
            line-height: 1.5;
            border-radius: 4px;
          }
        } 
        &--post-num {
          width: 320px;
          margin-top: 40px;
          .address-post-num {
            font-weight: 600;
            font-size: 14px;
            width: 50px;
          } 
          .address-form-require {
            margin: 0 0 0 8px;
            padding: 2px 4px;
            background-color: red;
            color: white;
            font-size: 12px;
            border-radius: 2px;
            vertical-align: top;
          }
          .address-registration-form {
            width: 286px;
            margin: 8px 0 0; 
            height: 28px;
            padding: 10px 16px 8px 16px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 14px;
            line-height: 1.5;
            border-radius: 4px;
          }
        } 
        &--prefecture {
          width: 320px;
          margin-top: 40px;
          .address-prefecture {
            font-weight: 600;
            font-size: 14px;
            width: 50px;
          } 
          .address-form-require {
            margin: 0 0 0 8px;
            padding: 2px 4px;
            background-color: red;
            color: white;
            font-size: 12px;
            border-radius: 2px;
            vertical-align: top;
          }
          select {
            width: 100%;
            margin: 8px 0 0; 
            height: 50px;
            padding: 10px 16px 8px 16px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 14px;
            line-height: 1.5;
            border-radius: 4px;
          } 
          .prefecture-selection-box {
            position: relative;
            &--absolute {
              position: absolute;
              right: 5px;
              top: 50%;
              z-index: 2;
              color: #888;
              font-size: 2em;
              margin-top: 5px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              background-color: white;
            }
          }
        }
        &--city {
          width: 320px;
          margin-top: 40px;
          .address-city {
            font-weight: 600;
            font-size: 14px;
            width: 50px;
          } 
          .address-form-require {
            margin: 0 0 0 8px;
            padding: 2px 4px;
            background-color: red;
            color: white;
            font-size: 12px;
            border-radius: 2px;
            vertical-align: top;
          }
          .address-registration-form {
            width: 286px;
            margin: 8px 0 0; 
            height: 28px;
            padding: 10px 16px 8px 16px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 14px;
            line-height: 1.5;
            border-radius: 4px;
          }
        } 
        &--block-num {
          width: 320px;
          margin-top: 40px;
          .address-block-num {
            font-weight: 600;
            font-size: 14px;
            width: 50px;
          } 
          .address-form-require {
            margin: 0 0 0 8px;
            padding: 2px 4px;
            background-color: red;
            color: white;
            font-size: 12px;
            border-radius: 2px;
            vertical-align: top;
          }
          .address-registration-form {
            width: 286px;
            margin: 8px 0 0; 
            height: 28px;
            padding: 10px 16px 8px 16px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 14px;
            line-height: 1.5;
            border-radius: 4px;
          }
        } 
        &--building {
          width: 320px;
          margin-top: 40px;
          .address-building {
            font-weight: 600;
            font-size: 14px;
            width: 50px;
          } 
          .address-form-optional {
            margin: 0 0 0 8px;
            padding: 2px 4px;
            background-color: gray;
            color: white;
            font-size: 12px;
            border-radius: 2px;
            vertical-align: top;
          }
          .address-registration-form {
            width: 286px;
            margin: 8px 0 0; 
            height: 28px;
            padding: 10px 16px 8px 16px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 14px;
            line-height: 1.5;
            border-radius: 4px;
          }
        } 
        &--phone-num {
          width: 320px;
          margin-top: 40px;
          .address-phone-num {
            font-weight: 600;
            font-size: 14px;
            width: 50px;
          } 
          .address-form-optional {
            margin: 0 0 0 8px;
            padding: 2px 4px;
            background-color:gray;
            color: white;
            font-size: 12px;
            border-radius: 2px;
            vertical-align: top;
          }
          .address-registration-form {
            width: 286px;
            margin: 8px 0 0; 
            height: 28px;
            padding: 10px 16px 8px 16px;
            border: 1px solid #ccc;
            background-color: #fff;
            font-size: 14px;
            line-height: 1.5;
            border-radius: 4px;
          }
        }
        .form-button{
          height: 50px;
          width: 100%;
          background-color: #ea352de8;
          text-align: center;
          line-height: 40px;
          color: white;
          cursor: pointer;
          margin-top: 40px;
        }
      }
    }
  }
} 
