// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 初期のバナーイメージです
// .index-banner-image {
//   margin: 10px 0 0 0;
//   background-size: auto;
//   text-align: center;
//   img { 
//   height: 390px;
//   }
// } 

.recommend__title { 
  padding: 40px 0 40px 0;
  background: #f5f5f5;
  h2 { 
    font-size: 28px;
    text-align: center;
    font-weight: 600;
  } 
  .top-page__items-box {
    margin: 0 auto;
    background-color: #F5F5F5;
    width: 942px;
    height: 440px;
    &--letter { 
      text-align: center;
      margin: 26px 11px;
      .new_arrival {
        text-decoration: none;
        color: #0099E8;
        font-size: 22px;
        font-weight: 600;
      }
    }
    &__content-boxes {
      display: flex;
      &__content {
        background-color:white;
        margin: 0 0 0 20px;
        width: 213px;
        height: 330px; 
        img {
          height: 213px;
          width: 213px;
        } 
        .item__outline { 
          padding: 16px;
          color: black; 
          width: 181px; 
          height: 78px;
          &--product-name {
            word-break: break-word;
            // セットで用いる
            overflow: hidden;
            height: 46px;
          }
          &--product-price { 
            display: flex;
            justify-content: space-between;
            font-weight: 550;
            margin: 8px 0 0 0; 
            width: 181px;
            height: 17px;
            .like-heart {
              color: gray;          
            }    
          } 
          p {
            font-size: 10px;
          }
        }
      } 
    } 
    .show-all-items {
      padding: 20px 0 30px 0;
      text-align: right;
      text-decoration: none;
      font-size: 14px;
      color: #0099e8;
      width: 935px;
    }    
  }
} 

.seller-item-button {
  position: fixed;
  border-radius: 50%; 
  background-color: red;
  text-align: center;
  width: 160px;
  height: 160px;
  bottom: 32px;
  right: 32px; 
  .seller {
    margin: 32px 0 0 0;
    width: 160px;
    font-size: 22px;
    color: white;
  }
  .seller-item-camera {
    color: white; 
    text-align: center; 
    font-size: 3.6em;
  }
}
