.image-upload__preview__list {
  display: inline-block;
  background: #f5f5f5;
  width: 114px;
  height: 160px;
  border: 1px solid #eee;
  margin: 10px 8px 0 0 ;
  &__top {
    border-bottom: 1px solid #eee;
    height: 116px;
    text-align: center;
    line-height: 160px;
    &--image {
    }
  }
  &__bottom {
    weight: 100%;
    &--btn {
      height: 44px;
      line-height: 44px;
      text-align: center;
      padding: 13px;
      color: #0099e8;
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}










