.wrapper
  %header.finish__header
    = render 'shared/details_header'
  %main.finish__main
    .purchase__finish
      .purchase__finish--message 購入が完了しました！
    .return__top
      = link_to "トップページに戻る", root_path, class: "return__top--move"
  %footer.finish__footer
    = render 'shared/details_footer'
