%html
  %body
    .user-container
      = render partial: 'shared/registrations/payment_header'
      %main.main__payment
        .main__payment__box
          .input-card
            .input-card__head
              %h2.input-card__head--title 支払い方法
              = render partial: "credits/new"
      = render partial: 'shared/details_footer'